.container{
    margin-left:30%;

    position:absolute;

}
h2{
    text-align:center;
}
.list{
    width: 385px;
    background: #716F71;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:2px;
    align: center;
    margin-bottom:20px;
}
.elem {
    height: 70px;
    width: 80px;
    margin:5px;
    padding-left:6px;
    background: burlywood;
    font-size:35px;
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);

}
a{
    color:burlywood;


}